.wrapper {
	border-radius: var(--border-radius);
	background-color: var(--input-bg-color);
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: var(--input-inner-gap);
	width: fit-content;
	color: var(--color-secondary);
	backdrop-filter: var(--input-bg-filter);
	transition: var(--input-transition);

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background-color: var(--input-bg-color-hover);
			scale: var(--input-scale-hover);
		}
	}

	&:active {
		background-color: var(--input-bg-color-active);
		scale: var(--input-scale-active);
	}
}

.label {
	padding: var(--input-padding-y) 0.25rem var(--input-padding-y) 1.25rem;
	cursor: pointer;
	user-select: none;
}

.input {
	width: 3rem;
	height: 100%;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--color-secondary);
	padding: var(--input-padding-y) var(--input-padding-y) var(--input-padding-y)
		0;
}
