.root {
	cursor: crosshair;
	user-select: none;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: opacity 0.15s var(--easing-smooth);

	@starting-style {
		opacity: 0;
	}
}

.loading {
	opacity: 0;
	pointer-events: none;
}

.loadingSpinner {
	position: absolute;
	left: 0;
	width: 1rem;
	height: 1rem;
	margin: var(--content-padding);
	border: 0.5rem solid var(--color-primary);
	border-top-color: var(--color-secondary);
	border-radius: 50%;
	animation: spin 0.5s infinite var(--easing-smooth);
	opacity: 1;
	scale: 1;
	transition:
		opacity 0.15s var(--easing-smooth),
		scale 0.15s var(--easing-smooth);

	&[data-editor-position="top"] {
		bottom: 0;
	}

	&[data-editor-position="bottom"] {
		top: 0;
	}

	@starting-style {
		opacity: 1;
		scale: 0;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
