.root {
	padding: 0.75rem 1.25rem;
	border-radius: 1rem;
	background-color: color-mix(
		in srgb,
		var(--color-secondary) 10%,
		transparent
	);
	color: var(--color-secondary);
	backdrop-filter: blur(0.5rem);
	display: inline-block;
	text-align: center;
	width: fit-content;
	transition: background-color 0.15s var(--easeSmooth);
	cursor: pointer;

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--color-secondary) 20%,
			transparent
		);
		scale: 1.05;
	}

	&:active {
		background-color: color-mix(
			in srgb,
			var(--color-secondary) 10%,
			transparent
		);
		scale: 1;
	}
}
