.wrapper {
	position: fixed;
	right: 0;
	width: 100%;
	box-sizing: border-box;

	div {
		pointer-events: none;
	}

	/* Allow user to draw behind the menu */
	pointer-events: none;
	* {
		pointer-events: auto;
	}

	&[data-position="bottom"] {
		bottom: 0;
	}

	&[data-position="top"] {
		top: 0;
	}
}

.inner {
	overflow: auto;
	scroll-snap-type: x mandatory;
	padding: var(--contentPadding);
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(6, 1fr);
	border-radius: var(--borderRadius);

	
}

.overlay {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: var(--panelGridGap);
	align-items: flex-end;
	padding: var(--contentPadding);
}
