.panel {
   scroll-snap-align: center;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   color: var(--color-secondary);
   pointer-events: none;
}

.grid {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 0.35rem;
}
