.panel {
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--color-secondary);
	pointer-events: none;
}

.grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: var(--panel-grid-gap);
}

.skeleton {
	padding: var(--input-padding-y) var(--input-padding-x);
}
