:root {
	/* Colors */
	--color-primary: black;
	--color-secondary: white;

	/* Easings */
	--easing-snappy: cubic-bezier(0.87, 0, 0.13, 1);
	--easing-smooth: cubic-bezier(0.45, 0.02, 0.09, 0.98);

	/* Layout */
	--content-padding: 2rem;
	--border-radius: 1rem;
	--panel-grid-gap: 0.35rem;

	/* Input */
	--input-bg-color: color-mix(
		in srgb,
		var(--color-secondary) 10%,
		transparent
	);
	--input-bg-color-hover: color-mix(
		in srgb,
		var(--color-secondary) 20%,
		transparent
	);
	--input-bg-color-active: color-mix(
		in srgb,
		var(--color-secondary) 10%,
		transparent
	);
	--input-padding-y: 0.75rem;
	--input-padding-x: 1.25rem;
	--input-scale-hover: 1.05;
	--input-scale-active: 1;
	--input-bg-filter: blur(0.5rem);
	--input-transition: background-color 0.15s var(--easing-smooth),
		scale 0.15s var(--easing-smooth), opacity 0.15s var(--easing-smooth);
	--input-inner-gap: 0.5rem;
}

html {
	/* BG *behind* body content */
	background: var(--color-primary);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;

	/* Improved font rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Base font size for rem units */
	font-size: 16px;

	/* Theme transition */
	background: var(--color-primary);
	color: var(--color-secondary);
	transition:
		background-color 0.25s var(--easing-smooth),
		color 0.25s var(--easing-smooth);
}

* {
	box-sizing: border-box;
}
