.button {
	padding: var(--input-padding-y) var(--input-padding-x);
	border-radius: var(--border-radius);
	background-color: var(--input-bg-color);
	color: var(--color-secondary);
	backdrop-filter: var(--input-bg-filter);
	display: inline-block;
	text-align: center;
	width: fit-content;
	transition: var(--input-transition);
	cursor: pointer;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background-color: var(--input-bg-color-hover);
			scale: var(--input-scale-hover);
		}
	}

	&:active {
		background-color: var(--input-bg-color-active);
		scale: var(--input-scale-active);
	}
}

.input {
	display: none;
}
