.wrapper {
	padding: var(--input-padding-y) var(--input-padding-x);
	border-radius: var(--border-radius);
	background-color: var(--input-bg-color);
	color: var(--color-secondary);
	backdrop-filter: var(--input-bg-filter);
	display: flex;
	flex-direction: column;
	gap: var(--input-inner-gap);
}

.label {
}

.input {
}
